
:root{
    --cor-background-um: #FFECE4;
    --cor-text-um: #6F3F2D;
    --cor-sombreado-um: #DDA08A;
    --cor-background-dois: #F9D0C1;
    --cor-text-dois: #9B5940;
    --cor-sombreado: #DF847B;
}
* {
    margin: 0;
    padding: 0;
}

body{
  background-color: var(--cor-background-um);
}

.cabecalho{
  display: flex;
  justify-content: space-around;
  background-color: #6F3F2D;
  color: #F9D0C1;
  align-items: center;
  position: relative;
}

.cabecalho-lista {
  color: #FFECE4;
  align-items: center;
  background-color: #6F3F2D;
  }

.cabecalho-lista-item {
  background-color: #6F3F2D;
  margin: 0 16px;
  padding: 24px 0;
}

ul li{
  list-style: none;
}

.cabecalho-lista a{
  color: var(--cor-sombreado-um);
  text-decoration: none;
}

#menu{
  display: none;
}

.cabecalho-lista{
  display: none;
  position: absolute;
  top: 100%;
}
.botaomenu:checked ~ .cabecalho-lista {
  display: block;
}

.container {
  max-width: 1200px; /* Define a largura máxima do container */
  margin: 0 auto; /* Centraliza o container na página */
  display: flex; /* Usa flexbox para posicionar as colunas */
}

/* Estilo das colunas */
.coluna {
  flex: 1; /* Faz as colunas ocuparem o mesmo espaço */
  padding: 20px; /* Adiciona um espaçamento interno às colunas */
}

/* Estilo específico da coluna esquerda */
.coluna-esquerda {
  background-color: var(--cor-background-um); /* Cor de fundo da coluna esquerda */
}

/* Estilo específico da coluna direita */
.coluna-direita {
  background-color: var(--cor-background-um); /* Cor de fundo da coluna direita */
}
.aba-conteudo{
  align-items: center;
}

.img-projeto{
  align-items: center;
  margin: 50px;
  width: 70%
}

.conteudo-projeto{
  background-image: url('fundo_projeto.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

  p{
    margin: 30px 0;
    font-family: Arial;
    text-align: center;
    color: #6F3F2D;
  }
  
  p.caption {
  background-color: #6F3F2D;
  margin: -10px 5px 5px 5px;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.a {
  margin: 40px 0 0 0;
  font-size: 20px;
  text-align: left;
  color: #DDA08A;
  font-display: flex;  
}
  
  .ativo{
    background-color: #DDA08A;
    color:#F9D0C1;
    border-bottom: 3px solid #6F3F2D;
  }
  
  .docs{
    display: block;
    text-align: center;
    font-size: 2em;
    width: 400px; 
    font-weight: bold;
    background-color: #DDA08A;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
.input{
  border-radius:10px;
  color:#6F3F2D;
  inline-size:1cm;
  text-align:center;
}

#sinal{
  color:#FFECE4;
}

h1{
  font-family: serif;
}

.inicio-titulo {
  font-family: serif;
  text-decoration-color: --cor-text-um;
}

h3{
  text-align:right;
}

.Resultado{
  color:#DDA08A;
}

.card {
  display: flex;
  background-color: #FFECE4;
  min-width: 100%;
  max-height: 340px;
  overflow-x: auto;
}

.card--content {
  max-width: 300px;
  margin: 10px;
  padding: 0;
}

.card--content img {
  height: 150px;
  padding: 5px;
  object-fit: cover;
}

.rodape {
  display: flex;
  align-items: center; 
  margin: 20px;
  color: #F9D0C1;
}
.texto-rodape {
  display: inline-block;
  margin: 30px; 
  color: #DF847B; 
  font-size: 10px;
}

.intro{
  margin: 10px;

}
@media screen and (min-width: 700px) {
  .img-inicio{
    width: 90%;
  }
  .intro{
    display: grid;
    grid-template-columns: 40% 60%;
  }
}

@media screen and (min-width: 1024px) {
  /*tablet*/


}
@media screen and (min-width: 1728px) {
  /*computador*/

}

/* #divBusca{
  background-color:#DDA08A;
  border:solid 1px;
  border-radius:15px;
  width:300px;
}
#btnBusca{
  float:left;
  width: 15%;
  margin: 30 0 30 0px;
  padding: 30px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
#txtBusca{
  color: #F9D0C1;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
} */